<%= form_for(sub_sector) do |f| %>
  <% if sub_sector.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sub_sector.errors.count, "error") %> prohibited this sub_sector from being saved:</h2>

      <ul>
      <% sub_sector.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sector_id %>
    <%= f.text_field :sector_id %>
  </div>

  <div class="field">
    <%= f.label :num_sub_sector %>
    <%= f.text_field :num_sub_sector %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
